
@{
    ViewBag.Title = "Index";
}

<h2>Created Leads</h2>
<div class="row form-group">
    <div class="col-xs-3">
        <select class="form-control" id="search_field">
            <option>Name</option>
            <option>Email</option>
            <option>Phone</option>
        </select>
    </div>
    <div class="col-xs-3">
        <input class="form-control" type="text" id="search_value" placeholder="Search Value" />
    </div>
    <div class="col-xs-3">
        <select class="form-control" id="order_field">
            <option>Name</option>
            <option>Email</option>
            <option>Phone</option>
        </select>
    </div> 
    <div class="col-xs-2">
        <select class="form-control" id="order_direction">
            <option>ASC</option>
            <option>DESC</option>
        </select>
    </div>
    <input type="button" class="btn btn-default col-md-1" value="search" id="search_button" />
</div>
<div>
    @Html.Partial("~/Views/Lead/_LeadsPagePartial.cshtml")
    <a href="/Lead/Create">New Lead</a>
</div>

@Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/scripts/Lead/searchLead.js")

