@model List<CRM.Models.EmailViewModel>
@{
    ViewBag.Title = "Conversation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Conversation</h2>
<div class="col-md-12">
    <div class="margin-bottom" style="font-size: 18px;">
        <span>Manager</span><span class="pull-right">Lead</span>
    </div>  
    @foreach (var mail in Model)
    {
        <div class="mail-box @(mail.To.Contains("CRM")?"col-sm-offset-8":"")">
            <p>@mail.Body</p>
        </div>
    }
</div>