@using System.Collections.Generic;
@using CRM.Models
@model SelectList
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@Html.TextBox("phone")

@using (Ajax.BeginForm("GetF", new AjaxOptions()
{
    HttpMethod = "Post",
    UpdateTargetId = "drop",
    InsertionMode = InsertionMode.Replace
}))
{
    <input type="submit" />
}

<div id="drop">
    @Html.Partial("Drop", Model)
</div>

<input type="button" name="call" id="btnLogin">

<script type="text/javascript" src="~/scripts/jquery.unobtrusive-ajax.js"></script>

<!--Ссылка на библиотеку SignalR -->
<script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
<!--Ссылка на автоматически сгенерированный скрипт хаба SignalR -->
<script src="~/signalr/hubs"></script>

<script>
    $(function () {

        var callHub = $.connection.phoneHub;

        callHub.client.onCall = function (errMesage) {
            alert(errMesage);
        }

        // Открываем соединение
        $.connection.hub.start().done(function () {
            callHub.server.connect();
        });

        $("#btnLogin").click(function () {
            callHub.server.call(2, +3806222);
            setTimeout(5000);
            callHub.server.call(3, +3806333);
            setTimeout(5000);
            callHub.server.call(7, +3806777);
        });

    });
</script>

