<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="Telerik.Reporting" type="Telerik.Reporting.Configuration.ReportingConfigurationSection, Telerik.Reporting, Version=12.1.18.516, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" />
    </configSections>
    <Telerik.Reporting>
        <Cache provider="" />
        <cache provider="" />
        <assemblyReferences>
            <add name="CRM.Report" version="1.0.0.0" />
        </assemblyReferences>
        <SessionState provider="" />
        <restReportService>
            <storage provider="" />
            <reportResolver provider="" />
        </restReportService>
        <appData path="" />
    </Telerik.Reporting>
    <connectionStrings>
        <add name="CRM.Report.Properties.Settings.CRMDB" connectionString="Data Source=DESKTOP-6U34JE9;Initial Catalog=CRM_DB;Integrated Security=False;User ID=sa;Password=1qaz!QAZ;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>